/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --section-height: 400px;
    --inner-div-height: 300px;
    --border-2: 2px dashed black;
    --border-3: 3px dashed black;
    --white-bg: white;
    --lightgrey-bg: lightgrey;
    --width: 75%;
} 
/* BODY */
body {
    background-color: var(--lightgrey-bg);
    margin: 0 auto;
    background-color: violet;
}

/* HEADER */
header {
    width: var(--width);
    margin: 0 auto;
}

/* Navbar */
.top-page {
    height: 60px;
    background-color: #add8e6;
    padding: 0.55rem;
} 

.navbar {
    background-color: #daa520;
    width: 70%;
    margin: 0 auto;
    border: var(--border-2);
    display: flex;
    font-size: x-small;
}

.logo {
    width: 25%;
    padding: 0.35rem;
}

.links {
    width: 50%; 
    border-left: var(--border-3);
    border-right: var(--border-3);
    text-align: center;
    padding: 0.35rem;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.login {
    width: 25%;
    text-align: right;
    padding: 0.35rem;
}

/* Title */
.title {
    background-color: #00008b;
    min-height: var(--section-height);
    padding-top: 2.5rem;
}

.violet-box {
    background-color: violet;
    width: 60%;
    margin: 0 auto;
    min-height: var(--inner-div-height);
    border: var(--border-2);
}

/* MAIN */
.section {
    min-height: var(--section-height);
    width: var(--width);
    margin: 0 auto;
    padding-top: 2.5rem;

}

.white-bg {
    background-color: var(--white-bg);
}

.lightgrey-bg {
    background-color: var(--lightgrey-bg);
}

.left-bigger {
    width: 75%;
    min-height: var(--inner-div-height);
    margin: 0 auto;
    display: flex;
    border: var(--border-2);
}

.bigger {
    width: 60%;
}

.smaller {
    width: 40%;
}

.lightblue {
    background-color: #1e90ff;
}

.pink {
    background-color: #ffc0cb;
}

.border-right {
    border-right: var(--border-3);
}